.about {
  @extend %page;

  // background: $color-cadet-blue;
  // color: $color-bright-gray;
}

.about__wrapper {
  padding-top: 10rem;
}

.about__title {
  @extend %title-100;

  margin: auto;
  max-width: 126rem;
  text-align: center;

  @include media('<phone') {
    max-width: 67.7rem;
  }
}
