$color-bright-gray: #37384c;
$color-cadet-blue: #b2b8c3;
$color-contessa: #768662;
$color-quicksand: #658979;
$color-quarter-spanish-white: #f9f1e7;

$font-bodoni-flf: 'BodoniFLF';
$font-san-serif: sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('preloader', 'navigation', 'content', 'canvas');
