$color-bright-gray: #37384C;
$color-cadet-blue: #B2B8C3;
$color-contessa: #C97164;
$color-quicksand: #BC978C;
$color-quarter-spanish-white: #F9F1E7;

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'preloader',
  'navigation',
  'content',
  'canvas'
);
