*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  @extend %cover;

  background: $color-contessa;
  color: $color-quarter-spanish-white;
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  overflow: hidden;
  position: fixed;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %cover;
  @extend %description-16;

  font-family: $font-san-serif;
  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

canvas {
  pointer-events: none;
  position: relative;
  z-index: z('canvas');
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

img {
  opacity: 0;
  transition: opacity 0.4s ease;
  vertical-align: middle;

  &.loaded {
    opacity: 1;
  }
}

.content {
  @extend %cover;
}

[data-animation='label'],
[data-animation='paragraph'],
[data-animation='title'] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
