@font-face {
  font-family: $font-bodoni-flf;
  src: url('../fonts/bodoni.woff2') format('woff2'),
    url('../fonts/bodoni.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
